<!--
 * @file     contact.ejs
 * @author   Nathan Levasseur (202339974@edu.clg.qc.ca)
 * @version  0.01
 * @date     2025-09-12
 * @brief    Code ejs pour la page d'accueil
-->
<h1>Page Contact</h1>
<table border="1" cellpadding="10" cellspacing="0">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Adresse</th>
        <th>Courriel</th>
        <th>Téléphone</th>
    </tr>
    <tr>
        <td><%= nom %></td>
        <td><%= prenom %></td>
        <td><%= adresse %></td>
        <td><%= courriel %></td>
        <td><%= telephone %></td>
    </tr>
</table>